.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.pem
*.tsbuildinfo
.DS_Store
.env*.local
.history
.idea
.pnp.js
/.next/
/.pnp
/artifacts
/build
/coverage
/dist
/docs
/merge-conflict-resolution.patch
/node_modules
/out/
/packages/*/bundles
/packages/*/lib/*
/packages/docusaurus/.yarn
/packages/yarnpkg-libui/sources/**/*.d.ts
/packages/yarnpkg-libui/sources/**/*.js
/scripts/stable-versions-store.json
/vscode-case-study
coverage
junit.xml
next-env.d.ts
node_modules
npm-debug.log*
package.tgz
yarn-debug.log*
yarn-error.log*
